.faq h3 {
  font-size: 50px;
}

.faq h4 {
  font-size: 30px;
  margin-top: 10px;
}

.faq h4 a {
    color: #b74b4b;
}

@media (max-width: 768px) {
    .faq h3 {
        font-size: 30px;
    }

    .faq h4 {
        font-size: 20px;
    }
}