body {
    font-family: 'Sriracha';
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.history {
    font-family: 'Sriracha';
}

.history h2 {
    font-family: 'Sriracha';
    font-size: 50px;
    margin-bottom: 20px;    
    text-align: center; /* จัดกึ่งกลาง */
    margin-top: 190px; /* เพิ่มระยะห่างด้านบน */
}

.history p {
    font-family: 'Sriracha';
    font-size: 20px; /* ปรับขนาดอิโมจิ */
    margin-bottom: 5px;
    text-align: left; /* จัดกึ่งกลาง */
    margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
    margin: 20px 100px 20px 100px; /* เพิ่มระยะห่างด้านบน */

}

.information {
    font-family: 'Sriracha';
    margin: 0px 100px 50px 100px; /* เพิ่มระยะห่างด้านบน */
}

.information h2 {
    font-family: 'Sriracha';
    font-size: 50px;
    margin-bottom: 20px;    
    text-align: left; /* จัดกึ่งกลาง */
    margin-top: 190px; /* เพิ่มระยะห่างด้านบน */
}

.information ul li {
    font-family: 'Sriracha';
    font-size: 20px; /* ปรับขนาดอิโมจิ */
    margin-bottom: 5px;
    text-align: left; /* จัดกึ่งกลาง */
    margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
    margin: 20px 100px 20px 100px; /* เพิ่มระยะห่างด้านบน */
}