.aboutme-content h3{
    font-size: 8rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.aboutme-content h4{
    font-size: 2rem;
}

.aboutme-content

.faqbtn {
    display: flex;
    justify-content: center;
  }

@media (max-width: 768px) {
    .aboutme-content h3 {
        font-size: 4rem;
    }

    .aboutme-content h4 {
        font-size: 1.5rem;
    }
}