@font-face {
    font-family: 'Itim';
    src: url(/src/fonts/Itim.ttf);
}

body {
  margin: 0;
  font-family: 'Itim';
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

a {
  margin: 0px;
  padding: 0px;
}

/* Navbar Section */
.navbar {
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 5px 10px;
  font-size: 1px;   
  top: 0  ;
  position: sticky;
  transition: background-color 0.5s ease;
}

.navbar-black {
  background-color: black;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  display: inline-block; 

}

.navbar a {
  text-decoration: none;
  color: white;
  text-align: center;
  float: right;
  padding: 10px 15px;
  font-size: 28px;
}

.navbar a.active {
  font-weight: bold;
}

.logo {
  text-align: left; 
  padding: 0 10px; 
  text-decoration: none;
  align-content: center;
}

.logoimg {
  margin-right: 20px;
  justify-content: center;
  vertical-align: -7px;
}


/* Header Section */
.head1 {
  text-align: center;
  font-size: 34px;
  padding: 60px 60px;
}

.yt {
  padding-left: 8%;
  flex: 1;
}

.yt span.ytlink {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration-line: none;
  padding: 30px;
}

.yt span.ytlink:visited {
  text-decoration: none;
  color: white;
}

.txt {
  flex: 1;
  font-size: 32px;
  text-decoration: none;
  text-decoration-line: none;
  color: white;
  display: inline-block;
}

.txt a {
  margin: 0px;
  padding: 0px;  
}

.txtind {
  flex: 1;
  font-size: 30px;
  text-decoration: none;
  text-decoration-line: none;
  color: white;
  display: inline-block;
  padding-right: 8%;
  padding-left: 20px;
}

.txtind a {
  margin: 0px;
  padding: 0px;  
}

.head2 {
  display: flex;
}

.txt a:visited {
  color: white;
  text-decoration: none;
}

.head3 ,  a {
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 30px;
  justify-content: center;
  justify-items: center;
}

.head3 a:visited {
  color: white;
}

/* Footer Section */
.footer {
  text-align: center;
  font-size: 20px;
}

.footer a {
  font-size: 20px;
  margin: 0px;
  padding: 0px;  
}


/** config for proj page**/
.projpagerw1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.proj1 {
  padding: 100px;
  text-align: center;
}

.proj2 {
  padding: 100px;
  text-align: center;
}


/**config for friendship.proj page**/
.head2-friendshipproj {
  text-align: center;
  font-size: 28px;
}

.par2about {
  text-align: left;
}

.discordbtn {
  transition: transform 0.3s ease;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: left;
}

.discordbtn:hover {
  transform: scale(1.1);
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/**Config Dev Card**/
.devcard {
  position : relative;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-wrap : wrap;
  padding : 30px;  
}

.devcard .card {
  position: relative;
  max-width : 300px;
  height : 175px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.devcard .card:hover {
  height : 320px;    
}


.devcard .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  top : -40%;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.devcard .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.devcard .card .content {
  position : relative;
  top : -160px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
  font-size: 26px;
  bottom: 100px;
}

.devcard .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}