.proj-content h3{
    font-size: 8rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.proj-content h4{
    font-size: 2rem;
}

@media (max-width: 768px) {
    .proj-content h3 {
        font-size: 4rem;
    }
}